#link{
			margin-left: 80px;
		}
		#data{
			font-family: Lucida Calligraphy; 
			border: 1px; 
			font-size: 15px
		}
		#suza{
			height:100px; 
			margin-left: 400px
		}
		#cont{
			font-family: Lucida Calligraphy; 
			border: 1px; 
			font-size: 15px
		}
		#edu{
			font-family: Lucida Calligraphy; 
			border: 1px; 
			font-size: 15px
		}
		#hr{
			color: #000000; 
			width: 800px
		}